@(categoryList: Seq[Category])(implicit messages: Messages)

@base_template{

<div class="accordion" id="accordionExample">

    @for((category, i) <- categoryList.zipWithIndex) {
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" href="#" data-toggle="collapse" data-target="#@i" aria-expanded="true" aria-controls="collapseOne">
                    @category.name
                </button>
                <a class="float-right" href="@routes.CategoryController.onPageLoad(category.name)">@messages("site.view.all")</a>
            </h5>
        </div>

        <div id="@i" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                @{category.desc}

                <ul>
                    @for(quiz <- category.quizzes) {
                        <li><a href="@quiz.link">@quiz.name</a></li>
                    }
                </ul>

            </div>
        </div>
    </div>
    }
</div>
}